.header{
  background-color: rgb(202, 134, 202);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.titulo{
  margin-left: 1%;

}

/* .buscador{

} */
 
.tabla{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.producto{
  padding: 1%;
  border-radius: 2%;
  border: solid 2px rgb(202, 134, 202);
  width: 22%;
  margin-bottom: 2%;
}

.listado{
  margin: 1%;
}


@media (max-width:830px){
  
  .producto{
    width: 40%;
    }
  }

  @media (max-width:450px){
  
.producto{
  width: 80%;
  }
}

