.container{
  margin: 1%;
}

.header{
  background-color: rgb(202, 134, 202);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: -1%; 
}

.titulo{
  margin-left: 1%;

}
 
.tabla{
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.producto{
  padding: 1%;
  border-radius: 2%;
  border: solid 2px rgb(202, 134, 202);
  margin: 2%;
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  text-align: center;
}

.cen{
  align-self: center;
}

.listado{
  margin: 0%;
}


@media screen and (max-width:830px){
  
  .tabla{
    display: grid;
    grid-template-columns:1fr 1fr;
  }
}

@media screen and (max-width:450px){
  
  .tabla{
    display: grid;
    grid-template-columns:1fr;
  }
}

